.grid-container {
    display: grid;
    grid-area: auto;
    grid-gap: 5px;
    justify-items: stretch;
   }
   
   .header{
     padding: 5px;
     background: #D4E9EF;
   }

   .grid-item {
    border: 2px solid #D9E8FB;
    text-align: center;
    padding: 5px;
    background-color:#F4F8FE;
   }
   
   .photo {
    grid-area: photo;
   }
   
   .title {
    grid-area: title;
   }
   
   .posts {
    grid-area: posts;
   }
   
   .about {
    grid-area: about;
   }