.navbar-desktop{
    flex-basis: 100%;
    padding: 5px;
    background: #D4E9EF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
   }

.navbar-desktop-menu{
    box-sizing: border-box;
}

.navbar-desktop-menu .list-item{
    display: inline-block;
    padding: 20px;
}

.navbar-mobile{
    display: none;
}

.navbar-mobile-menu{
    overflow: hidden;
    float: right;
    width: 20px;
    height: 18px;
    padding: 3px 3px;
}

.navbar-mobile-menu-line {
    width: 20px;
    height: 3px;
    background-color: black;
    margin-bottom: 3px;
}

@media all and (max-width: 480px) {
    .navbar-desktop{
        display: none;
    }
    .navbar-mobile{
        display: flex;
        padding: 5px;
        background: #D4E9EF;
        justify-content: flex-start;
        align-items: center;
    }
    .navbar-mobile-menu{
        position: relative;
        left: 300px;
    }

    .flex-container {
        display: flex;
        text-align: inherit !important; 
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    text-align: center;
   }
   
.flex-container-item-photo {
    flex-basis: 100%;
   }
   
.flex-container-item-title {
    flex-basis: 100%;
   }

.flex-container-item-about {
    flex-basis: 100%;
   }
   
.flex-container-item-projects {
    flex-basis: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
   }