.navbar{
    flex-basis: 100%;
    padding: 5px;
    background: #D4E9EF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
   }

.nav-list{
    box-sizing: border-box;
}

.nav-list .list-item{
    display: inline-block;
    padding: 20px;
}

.menu{
    display: none;
}

.menu-line{
    width: 20px;
    height: 3px;
    background-color: black;
    margin-bottom: 3px;
}

@media all and (max-wisth: 480px) {
    .navbar{
        display: none;
    }
    .menu{
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
}

.grid-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
   }
   
.photo {
    flex-basis: 100%;
    width: 1280px;
   }
   
.title {
    flex-basis: 100%;
    width: 1280px;
   }
   
.projects {
    flex-basis: 100%;
    flex-wrap: nowrap;
    width: 400px;
    height: 200px;
   }
   
.about {
    flex-basis: 100%;
    width: 1280px;
   }